* {
    padding: 0px;
    margin: 0px;
}

.clear {
    clear: both;
}

.kontainer {
    padding: 0.8rem;
    padding-bottom: 0.6rem;
}

#trix-toolbar-1 {
    display: inline;
}

trix-toolbar {
    display: none;
}



/* menonaktifkan icon upload gambar pada trix editor  */

trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
}



